/* STYLING FOR JUKEBOX ASSIGNMENT */

body {
	width: 70%;
	margin: 0 auto;
	font-weight: 100;
	font-family: Avenir Next, 'sans-serif';

}

header {
	text-align: center;

}

header h1 {
	margin: 40px 0px 0px 0px;
	font-weight: 600;
	font-size: 5em;
	letter-spacing: 5px;

}

header h3 {
	font-weight: 100;

}

.controls button {
	font-family: Avenir Next, 'sans-serif';
	font-size: 18px;
	font-weight: 100;
	width: 100px;
	height: 100px;
	color: #000000;
	border: none;
	margin: 2px;

}

.controls button:hover {
	background-color: #e6f9ff;

}

audio {
	width: 641px;

}

.songoptions {
	font-weight: 100;
	font-size: 30px;
	margin: 50px 0px 0px 0px;

}

#option {
	height: 28px;
	width: 195px;

}

